body {
    padding: 5%;
}

.bg-1 {
    background-color: #333;
    color: #fff;
}

.bg-2 {
    background-color: #fff;
    color: #333;
    border-radius: 0px 0px 25px 25px;
}

.bg-3 {
    background-image: linear-gradient(#FF9800, #fff);
    color: #333;
    border-radius: 25px 25px 0px 0px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.btn:hover,
.btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.container {
    padding: 10%;
    margin: 0, auto;
}

.container-small {
    padding: 5%;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#prompt {
    width: 50%;
    border-radius: 25px;
}

.list-group-mine .list-group-item {
    background-color: #333;
    color: #fff;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    margin-bottom: 40px;
    padding: 25px;
}
